@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/fondo-registro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  float: left;
  margin-left: 10%;
  background-color:transparent ;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #c0d6e3;
}

.grupo {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #c0d6e3;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #c0d6e3;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


